@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
body{
margin: 0;padding: 0;

}
#hero
{
    position: relative;
}
#hero video {

    background-position: absolute;
    height: 100%;
width: 100%;
z-index: 10;
object-fit:cover;

}

#hero .content
{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index:20;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero .content h1
{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background:#FC6D6D;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
.header
{
  position: fixed;
  top: 20px;
  right: 0;
height: 100px;  
}
.button
{
height: 50px;
width: 100px;
color: bisque;
background-color: transparent;
text-decoration: none;
border-radius: 20px;
}
.logo
{

  padding-left: 30px;
  list-style: none;
  color: #fff;
position: fixed;
font-family: 'Poppins', sans-serif;
font-size: large;
height: 100px;

}

